.box {
	color: #fff;
	background: #2c2929;
	opacity: 0.75;
	padding: 12px;
	display: inline-block;
}
body {
    background-color: black;
    color: #4b507a;
    font: 300 16px Lato, sans-serif;
    margin: 1em auto;
    max-width: 36em;
    padding: 1em 1em 2em;
    text-align: center;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}