body {
	margin: 0;
	padding: 0;
	background: linear-gradient(-45deg, #e10a0a, #FFFFFF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(187, 31, 31);
    color: #fff;
}
.navlogo{
    font-size: 1.5rem;
    margin: .5rem ;
}
.navlinks ul{
    margin: 0px;
    padding:0px;
    display: flex;
}
.navlinks ul li{
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}
.navlinks ul li a:hover{
    background-color: rgb(148, 21, 21);  
}
.ham{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.ham .bar{
    height: 3px;
    width: 85%;
    border-radius: 10px;
    background-color: #fff;
}
@media (max-width: 400px){
    .ham{
        display: flex;
    }
    .navlinks{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction:column;
        align-items: flex-start;
    }
    .navlinks ul{
        width: 100%;
        flex-direction: column;
    }
    .navlinks ul li{
        text-align: center;
    }
    .navlinks ul li a{
        padding: .8rem 1.5rem;
    }
    .navlinks.active{
        display: flex;
    }
}

.box {
	color: #fff;
	background: #2c2929;
	opacity: 0.75;
	padding: 12px;
	display: inline-block;
	height: 100%;
	width: auto;
}

.box2{
	position: absolute;
	top: 45%;
	opacity: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 620px;
	height: 400px;
	background: rgb(187, 31, 31);
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 20px 50px rgb(173, 30, 30);
	border: 3px solid #000000;
	color: white;
	padding: 20px;
}

.box2 .content{
	position:absolute;
	top:15px;
	left:15px;
	right:15px;
	bottom:15px;
	padding:20px;
	text-align:center;
}

/* KNAP */

.button {
	cursor: pointer;
	width:200px;
	height:50px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	border-bottom: 5px solid #000000;
	font-family: 'Futura';
	font-size:1.2em;
	color: #000000;
	letter-spacing:1px;
	margin-top:15px;
	transition: 1s;
  }

.button_colour:hover {
	background-color:#ff0000;
  }


/* SKEMA */

.box3{
	position: absolute;
	top: 45%;
	opacity: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 620px;
	height: 625px;
	background: rgb(187, 31, 31);
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 20px 50px rgb(173, 30, 30);
	border: 3px solid #000000;
	color: white;
	padding: 20px;
}

.box4{
	border: 3px solid #000000;
}

.box4 input[type='radio'], label{  
	position: absolute;
	left: 48%;
 }

.box5{
	display: flex; 
	justify-content: center;
	text-align: center;
}

/* Genkender */

.label_for_upload{
	position: inherit;
	display: inline-block;
	vertical-align: super;
	cursor: pointer;
	width:200px;
	height:40px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	border-bottom: 5px solid #000000;
	font-family: 'Futura';
	font-size:1.2em;
	color: #000000;
	letter-spacing:1px;
	margin-top:15px;
	transition: 1s;
}

.label_for_upload:hover{
	background-color:#ff0000;
}
