<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lægehuset | Upload fil..</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.png">
  </head>
  <body>
    <!-- nav bar start -->
    <nav class="navbar">
      <div class="navlogo">Lægehuset.dk</div>
      <a href="/" class="ham">
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <!-- The nav links part -->
      <div class="navlinks">
        <ul>
          <li><a href="/">Hjem</a></li>
          <li><a href="/cancer">Leukæmi</a></li>
        </ul>
      </div>
    </nav>
    <!-- nav bar slut -->
    <!-- content start -->
    <div class="box2">
      <h1 style="text-align: center;">Vejledning til brug af model </h1>
      <h5 style="text-align: center;">1. Vælg den billedefil, der skal analyseres af modellen</h5>
      <h5 style="text-align: center;">2. Videresend din fil ved brug af knappen</h5>
      <h5 style="text-align: center;">3. Få dit resultat</h5>
      <br><br>
      <div class ="box5">
        <form action = "http://localhost:5000/uploader" method ="POST" enctype = "multipart/form-data">
          <input style="display: none;" type="file" id="myFile" name="filename[]">
          <label class="label_for_upload" for="myFile" class="upload">Upload fil</label>
          <input class="button button_colour" type="submit"> 
        </form> 
      </div>
    </div>
    <!-- content slut -->
  </body>
</html>