<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lægehuset.dk | Hjem</title>
	<link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div class="navlogo">Lægehuset.dk</div>
    <a href="/" class="ham">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <!-- The nav links part -->
    <div class="navlinks">
        <ul>
            <li><a href="/">Hjem</a></li>
            <li><a href="/model">Blodprop</a></li>
            <li><a href="/cancer">Leukæmi</a></li>
        </ul>
    </div>
  </nav>
  <div class="box2">
    <div class="content">
      <h1>Velkommen til Lægehuset.dk</h1>
      <h3>Vælg venligst at anvende vores blodprop eller leukæmi model.</h3>
      <br>
      <br>
      <br>
      <a href="/model"><button class="button button_colour">Blodprop</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/cancer"><button class="button button_colour">Leukæmi</button></a>
    </div>
  </div>  
</body>