<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lægehuset | Hjem</title>
    <link rel="stylesheet" href="../static/css/startside.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="icon" href="../static/img/favicon.png">
  </head>
  <style>
    body{
      background-image: url('../static/img/forside.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <body>
    <section class="box">

      <h1>Velkommen til Helbredsvejlederen </h1>
      <h3>Vælg venligst at anvende vores blodprop eller leukæmi model.</h3>
      <body>
        <a href="model">
          <button href="skema.html" class="spin circle">Beregn Blodprop</button>
        </a>
        <a href="cancer">
          <button href="genkender" class="spin circle">Beregn Leukæmi</button>
        </a>
      </body>
      
    </section>
  </body>
</html>