<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lægehuset | Resultat klar</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.png">
  </head>
  <body>
    <!-- nav bar start -->
    <nav class="navbar">
      <div class="navlogo">Lægehuset.dk</div>
      <a href="/" class="ham">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <!-- The nav links part -->
      <div class="navlinks">
        <ul>
          <li><a href="/">Hjem</a></li>
          <li><a href="/model">Blodprop</a></li>
          <li><a href="/cancer">Leukæmi</a></li>
        </ul>
      </div>
    </nav>
    <!-- nav bar slut -->
    <div class="box2" style="height: 325px;">
      <h1 style ="text-align: center;">Resultaterne er nu klar.</h1>
      <h3 style ="text-align: center;">Jo højere procent, desto større match.</h3>
      <p style ="text-align: center;">Start: {{ start }}%</p>
      <p style ="text-align: center;">I udbrud: {{ udbrud }}%</p>
      <p style ="text-align: center;">Før behandling: {{ prebe }}%</p>
      <p style ="text-align: center;">Efter behandling: {{ probe }}%</p>
    </div>
  </body>
</html>