<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lægehuset | Resultat klar</title>
    <link rel="stylesheet" href="../static/css/startside.css">
    <link rel="icon" href="../static/img/favicon.png">
  </head>
  <style>
    body{
      background-image: url('../static/img/forside.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
    <body>
    <div class="box">
      <h1>Resultaterne er nu klar.</h1>
      <h3>Jo højere procent, desto større match.</h3>
      <body>
        <p>Start: {{ start }}%</p>
        <p>I udbrud: {{ udbrud }}%</p>
        <p>Før behandling: {{ prebe }}%</p>
        <p>Efter behandling: {{ probe }}%</p>
    </div>
    </body>
</html>