<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lægehuset | Hjertesygdomme</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.png">
  </head>
  <body>
    <section class="container">
      <h1>Beregn din chance for hjertesygdomme</h1>
      <h3>Udfyld felterne forneden og tryk på knappen.</h3>
      <div class="grid">
        <div class="box">
          <form action="{{ url_for('predict')}}" method="post">
            <select name="Ryger" id="Ryger" required="required">
              <option value="">Ryger du?</option>
              <option value="0">Nej</option>
              <option value="1">Ja</option>
            </select>
            <select name="Alkohol" id="Alkohol" required="required">
              <option value="">Drikker du meget alkohol?</option>
              <option value="0">Nej</option>
              <option value="1">Ja</option>
            </select>
            <select name="Stroke" id="Stroke" required="required">
              <option value="">Har du haft en stroke før?</option>
              <option value="0">Nej</option>
              <option value="1">Ja</option>
            </select>
            <select name="Køn" id="Køn" required="required">
              <option value="">Køn</option>
              <option value="0">Kvinde</option>
              <option value="1">Mand</option>
            </select>
            <select name="Aldersgruppe" id="Aldersgruppe" required="required">
              <option value="">Aldersgruppe (år)</option>
              <option value="12">80 eller ældre</option>
              <option value="11">75-79</option>
              <option value="10">70-74</option>
              <option value="9">65-69</option>
              <option value="8">60-64</option>
              <option value="7">55-59</option>
              <option value="6">50-54</option>
              <option value="5">45-49</option>
              <option value="4">40-44</option>
              <option value="3">35-39</option>
              <option value="2">30-34</option>
              <option value="1">25-29</option>
              <option value="0">18-24</option>
            </select>
            <button type="submit" class="btn">Udregn løn</button>
          </form>
          <p>{{ prediction_text }}</p>
        </div>
      </div>
  </body>
</html>